@font-face {
  font-family: "RF Dewi Expanded";
  src: url(../../../fonts/RFDewiExpanded-Bold.ttf);
}
@font-face {
  font-family: "RF Dewi";
  src: url(../../../fonts/RFDewi-Regular.ttf);
}
@font-face {
  font-family: "RF Dewi Expanded SB";
  src: url(../../../fonts/RFDewiExpanded-Semibold.ttf);
}
@font-face {
  font-family: "RF Dewi SB";
  src: url(../../../fonts/RFDewi-Semibold.ttf);
}